* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
/* navigation bar style*/
.header-container {
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0px;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: rgb(116, 98, 133);
}
.nav-item {
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: whitesmoke;
}
.main-content {
  margin-top: 68px; /*come back to this!!!*/
}
/* flex container with my contacts links*/
.hero-image {
  background-image: url("/assets/images/hero.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.contacts-container {
  /* background-color: pink; */
  border: 2px solid aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contacts-item {
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  font-size: large;
  color: aliceblue;
}
.about-me-container {
  background-color: rebeccapurple;
}
.about-me-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.my-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 10% 10%; */
}
.card {
  margin: 25px;
  border: 2px solid black;
  padding: 25px;
  /* width: 400px; */
  flex: 0 0 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-header {
  text-align: center;
  background-color: rgb(188, 140, 233);
}
.card-image {
  width: 100%;
  height: 200px;
}
.card p {
}
.card-link {
  width: 50%;
}

/*media query settings for mobile and table screens*/
@media screen and (max-width: 768px) {
  .project-container .card {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .project-container .card {
    width: 50%;
  }
}
