* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
/* navigation bar style*/
.header {
  padding: 60px;
  height: 200px;
  width: 100%;
  border: 1px solid black;
  position: fixed;
  overflow: hidden;
  top: 0px;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header h1 {
  background-color: blueviolet;
}
.header .nav-button {
  text-decoration: none;
  text-align: center;
  display: inline;
  font-size: 25px;
  background-color: blueviolet;
}

/* .nav-button {
} */

.main-content {
  margin-top: 200px;
}
.my-contacts {
  margin: 0px;
  background-color: pink;
  border: 2px soldi black;
  position: relative;
}
.about-me {
  background-color: rebeccapurple;
}
.project-container {
  margin: 60px;
  padding: 20 px;
  border: 2px solid black;
  background-color: rgb(235, 229, 228);
  /* position: relative; */
}
.project-container .card {
  border: 2px solid black;
  /* background-color: ; */
  padding: 10px;
  float: left;
  width: 50%;
  height: 600px;
}
.project-container .card h3 {
  text-align: center;
  background-color: rgb(188, 140, 233);
}
.project-container .card img {
}
.project-container .card a {
}

/*media query settings for mobile and table screens*/
@media screen and (max-width: 768px) {
  .project-container .card {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .project-container .card {
    width: 50%;
  }
}
